.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.idea/
*.iml
.DS_Store

# Generated platform secrets and local overrides
android/key.properties
ios/Runner/GoogleService-Info.plist
.env*
